---
import Layout from "../layouts/Layout.astro";
import Portrait from "../components/Portrait.astro";
import Title from "src/components/Title.astro";
import SocialIcons from "src/components/SocialIcons.astro";
---

<Layout>
  <div class="flex flex-col items-center justify-center h-screen gap-6 p-6">
    <div class="flex flex-col items-center justify-center gap-2">
      <Portrait/>
      <Title />
      <SocialIcons />
    </div>
  </div>
</Layout>
